---
import BaseLayout from '../../layouts/BaseLayout.astro'
---

<BaseLayout title="Evangelical Covenant Church | Pine Lake Covenant Church">
  <h1>The Evangelical Covenant Church</h1>
  <p>What it means that we’re a Covenant church, and why it matters locally.</p>
</BaseLayout>
