---
import { Image } from 'astro:assets'

type Props = {
  images: any[]
  ariaLabel?: string
}

const { images, ariaLabel = 'Vignettes from Pine Lake' } = Astro.props
---

<div class="vignette-grid" aria-label={ariaLabel}>
  {
    images.map((img) => (
      <div class="vignette">
        <Image src={img} alt="" sizes="(max-width: 800px) 50vw, 200px" class="vignette-img" />
      </div>
    ))
  }
</div>
